.ticket-booking {
    background-image: url(https://confessionsofatrolleydolly.files.wordpress.com/2020/07/7efef052fbeeef72e663b49762ed258c.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ticket-booking-form {
    background-color: rgba(240, 248, 255, 0.6);
    border-radius: 6px;
    z-index: 9;
    padding: 50px;
    margin: 40px 0;

}
button {
    height: 48px!important;
    border-radius: 6px!important;
}